<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="../../assets/footer-logo.png" alt="site-logo" title="" class="footer-logo">
			</div>
			<div class="col-md-2">
				<ul class="footer-link">
					<li><a href="#">Live Blog</a></li>
					<li><a href="#">How to start</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="footer-link">
					<li><a href="#">Legal & Privacy</a></li>
					<li><a href="#">Contacts</a></li>
				</ul>				
			</div>
			<div class="col-md-3">
				<ul class="payment-link">
					<li class="d-flex align-items-center mt-4">
						<span>Payments by:</span>
						<a href=""><img src="../../assets/paypal.png" alt="paypal-logo" title="" class="payment-logo"></a>
					</li>
					<li class="d-flex align-items-center mt-4">
						<span>Join the talk:</span>
						<a href=""><img src="../../assets/telegram.png" alt="telegram-logo" title="" class="telegram-logo"></a>
					</li>
				</ul>
			</div>									
		</div>
		<p>Altbot trading solutions inc. © All rights reserved</p>
	</div>
</footer>