<section class="site-pricing">
        <img src="../../assets/pricing-bg.png" alt="" class="" title=""> 
        <div class="container text-center">
            <div class="sec-title">
                <div class="oval wow zoomIn animated"></div>
                <h3 class="wow zoomIn animated">{{s1}}</h3>
                <p class="wow zoomIn animated" >{{p1}}</p>
            </div>	
            <div class="pricing-box">
                <div class="pricing-top mt-4 ml-4 mr-4">
                    <h4>199</h4>
                    <h5>USD/month</h5>
                </div>
                <div class="pricing-bottom d-flex align-items-center justify-content-end">
                    <div class="price-left d-none">
                        <ul class="d-flex align-items-center">
                            <li class="active"><a href="#">Monthly</a></li>
                            <li><a href="#">Yearly</a></li>
                        </ul>
                    </div>
                    <div class="price-right">
                        <div class="btn-bg pricing-btn">
                            <a href="#">Start now</a>
                        </div>					
                    </div>
                </div>
            </div>
        </div>
    </section>