<section class="site-newsletter">
        <div class="container">
            <div class="newsletter-box">
                <h2 class="wow zoomIn animated">This is your chance!</h2>
                <h6 class="wow zoomIn animated">Ok, we have explained and showed you what is what - you have seen the price.Now the ball is on your side, but we want to make it even easier! <br><span>Check this out - </span></h6>			
                <h3>Get 20% discount, <span>now.</span></h3>
                <div class="mb-5 d-inline-block text-left align-items-center">
                    <h5><strong>All you have to do is:</strong></h5>
                    <ul class="">					
                        <li><p>1. Like our page on facebook;</p></li>
                        <li><p>2. Tweet about us.</p></li>
                        <li><p>3. Send discount to your friends</p></li>
                    </ul>
                </div>
                <div class="btn-bg newsletter-btn">
                    <a href="#">Take this chance</a>
                </div>
            </div>
        </div>
    </section>