<section class="site-points">
        <div class="container">
            <div class="sec-title" *ngFor="let sec of sectitle">
                <div class="oval wow zoomIn animated"></div>
                <h3 class="wow zoomIn animated">{{sec.s1}}</h3>
            </div>	
            <div class="points-column">
                <div class="points-box">
                    <div class="row align-items-end">
                        <div class="col-md-6 col-left">
                            <div class="point-img">
                                <img src="../../assets/player-controls.png" alt="player-controls" title="" class="">
                            </div>
                        </div>
                        <div class="col-md-6 col-right">
                            <div class="point-text">
                                <h3>Watch our keynote about the Al.t.bot</h3>
                                <p>For easier comprehension, we have made a video about Al.t.bot - sometimes its just easier to understand when you can see.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="points-box">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-left">
                            <div class="point-img">
                                <img src="../../assets/artificial_intelligence.png" alt="artificial-intelligence" title="" class="">
                            </div>
                        </div>
                        <div class="col-md-6 col-right">
                            <div class="point-text">
                                <h3>Why Al.t.bot is better trader than any human?</h3>
                                <ul class="point-list">
                                    <li>
                                        <p>Based <strong>purely on statistics </strong> and mathematical calculations;</p>
                                    </li>
                                    <li>
                                        <p><strong>No Fear, No Hope, No emotions </strong> - just stone cold pre-calculated trading;</p>
                                    </li>
                                    <li>
                                        <p><strong>Technical stability </strong> - throw anything at it - server or internet outages, it will recalculate all missed market moves.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>			
                <div class="points-box">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-left">
                            <div class="point-img">
                                <img src="../../assets/innovation.png" alt="innovation" title="" class="">
                            </div>
                        </div>
                        <div class="col-md-6 col-right">
                            <div class="point-text">
                                <h3>Creators behnid Al.t.bot trading bot</h3>
                                <p>Developed by traders with over 15 years of experience in market making and trading. And polished by the best minds from Mathematics University.</p>
                            </div>
                        </div>
                    </div>
                </div>			
            </div>	
        </div>
    </section>