<div class="register-page">
    <div class="container">
        <div class="site-hero">
            <div class="site-signup">
                <h1 class="wow zoomIn animated">Forgot login?</h1>
                <div class="form-wrap" ng-controller="ExampleController">
                    <form novalidate class="simple-form">
                      <input type="email" ng-model="user.email" class="form-control" placeholder="Email" />                            
                      <div class="d-flex justify-content-between align-items-center btn-groups">
                        <input type="button" ng-click="reset()" value="Cancel" class="btn-cancel" />
                        <input type="submit" ng-click="update(user)" value="Send" class="btn-submit" />
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

