<section class="site-brokers">
    <div class="container">
        
        <div class="sec-title">
                <div class="oval wow zoomIn animated"></div>
            <h3 class="wow zoomIn animated">{{s1}}</h3>
            <p class="wow zoomIn animated">{{p1}}</p>
        </div>
        <div class="brokers-logo">
            <div class="row">
                <div class="col-md-3 brokers-box">
                    <a href="" class="brokers-img d-flex justify-content-center align-items-center">
                        <img src="../../assets/logo-1.png" class="" alt="brokers-logo-1" title="">
                    </a>
                </div>
                <div class="col-md-3 brokers-box">
                    <a href="" class=" brokers-img d-flex justify-content-center align-items-center">
                        <img src="../../assets/logo-2.png" class="" alt="brokers-logo-2" title="">
                    </a>
                </div>
                <div class="col-md-3 brokers-box">
                    <a href="" class=" brokers-img d-flex justify-content-center align-items-center">
                        <img src="../../assets/logo-3.png" class="" alt="brokers-logo-3" title="">
                    </a>
                </div>
                <div class="col-md-3 brokers-box">
                    <a href="" class=" brokers-img d-flex justify-content-center align-items-center">
                        <img src="../../assets/logo-4.png" class="" alt="brokers-logo-4" title="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>